<mat-sidenav-container fullscreen class="main-layout">

  <mat-sidenav #start class="sidenav">
    <mat-nav-list (click)="start.close()">
      <a mat-list-item class="sidenav__link"
         routerLink="/persons/upcoming-birthdays" [routerLinkActive]="'active'"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>library_books</mat-icon>
        <span>Upcoming Birthdays</span>
      </a>

      <a mat-list-item class="sidenav__link"
         routerLink="/persons/list" [routerLinkActive]="'active'"
         [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>list</mat-icon>
        <span>Persons List</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary" class="main-layout__toolbar">
    <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>

    <button class="menu-button" id="addPerson" mat-icon-button>
      <mat-icon>person_add_alt_1</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
