.edit-person {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  &__card {
    max-width: 300px;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;


    button {
      width: 100px;
    }
  }
}

.spinner-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }
}
