.persons-list {
  padding: 40px;

  table {
    width: 100%;

    td, th {
      width: 25%;
    }

    th {
      user-select: none;
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

}



