.persons-list {
  padding: 40px;

  table {
    width: 100%;

    td, th {
      width: 25%;
    }

    th {
      user-select: none;
    }

    td:last-child {
      min-width: 160px;
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .control {
    margin-right: 10px;
  }

}



